body{
    padding: 0;
}
#rayout{
    display: flex;
    list-style: none;
}
#seach_list{
    padding: 5%;
    list-style: none;
}
#nav{
    position: absolute;
    top: 0;
    left: 0;
    width: 15vw;
    height: 100%;
    background-color: aliceblue;
    border: solid;
    padding: 0;
    margin: 1%;
}
#cont{
    width: 80vw;
}
#seach_buttom{
    text-align: center;
}